<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> SpringBoot : makePerson </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>사람 추가하기(Createggggggg)추가하기 secondDev 수정했어요 이거또 이거만 파일 가져오기</h1>
<form action="#" th:action="@{/demo/add}" th:object="${user}" method="post">
    <p>Name : <input type="text" th:field="*{name}"/></p>
    <p>email : <input type="text" th:field="*{email}"/></p>
    <p><input type="submit" value="추가하기"/> <input type="reset" value="새로 입력하기"/></p>
</form>
</body>
</html>
