<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> SpringBoot : makePerson </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>사람 추가하기(Createggggggg)추가하기 secondDev 수정했어요 이거또 이거만 파일 가져오기 오리진 마스터만 수정했어요</h1>
<form action="#" th:action="@{/demo/add}" th:object="${user}" method="post">
    <p>Name : <input type="text" th:field="*{name}"/></p>
    <p>Name : <input type="text" th:field="*{name}"/></p>
    <p>Name : <input type="text" th:field="*{name}"/></p>
</form>
</body>
</html>
